# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Лог файлы
*.log

# Игнорировать файлы виртуального окружения
venv/
env/
.env

# Игнорировать файлы компиляции Python
__pycache__/
*.py[cod]

# Игнорировать настройки IDE
.idea/
.vscode/ 